/*声明字体图标*/
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?tomleg');
  src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?tomleg') format('truetype'),
  url('../fonts/icomoon.woff?tomleg') format('woff'),
  url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/*版心*/
.w {
  width: 1200px;
  margin: 0 auto;
}

/*左浮动*/
.fl {
  float: left;
}

/*右浮动*/
.fr {
  float: right;
}

.style_red {
  color: #c81623;
}

/*快捷导航*/
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: #f1f1f1;
}

.shortcut ul li {
  float: left;
}

/*选择所有的偶数小li*/
.shortcut .fr ul li:nth-child(2n) {
  width: 1px;
  height: 12px;
  background-color: #666666;
  margin: 9px 15px 0;
}

.shortcut .fr ul li.arrow-icon::after {
  font-family: 'icomoon';
  content: '\e91e';
  margin-left: 6px;
}

/*头部制作*/
header.header {
  position: relative;
  height: 105px;
}

header.header .logo {
  position: absolute;
  top: 25px;
  width: 171px;
  height: 61px;
  background-color: white;
}

header.header .logo a {
  display: block;
  width: 171px;
  height: 61px;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  font-size: 0;
}

header.header .search {
  position: absolute;
  left: 346px;
  top: 25px;
  width: 538px;
  height: 36px;
  border: 2px solid #b1191a;
}

header.header .search input {
  float: left;
  width: 454px;
  height: 32px;
  padding-left: 10px;
}

header.header .search button {
  float: left;
  width: 80px;
  height: 32px;
  background-color: #b1191a;
  font-size: 16px;
  color: white;
}

header.header .hotwords ul {
  position: absolute;
  top: 66px;
  left: 346px;
}

header.header .hotwords ul li {
  float: left;
  margin: 0 10px;
}

header.header .shopcar {
  position: absolute;
  top: 25px;
  right: 60px;
  width: 140px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #dfdfdf;
  background-color: #f7f7f7;
}

header.header .shopcar::before {
  content: '\e93a';
  font-family: 'icomoon';
  margin-right: 5px;
  color: #db5b5b;
}

header.header .shopcar::after {
  content: '\e920';
  font-family: 'icomoon';
  margin-left: 10px;
}

header.header .shopcar .count {
  position: absolute;
  top: -5px;
  left: 105px;
  padding: 0 5px;
  height: 14px;
  line-height: 14px;
  color: white;
  background-color: #e60012;
  border-radius: 7px 7px 7px 0;
}

nav.nav {
  height: 47px;
  border-bottom: 2px solid #b1191a;
}

nav.nav .w .dropdown {
  float: left;
  width: 210px;
  height: 45px;
  background-color: #b1191a;
}

nav.nav .w .dropdown .dt {
  width: 100%;
  height: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  color: white;
}

nav.nav .w .dropdown .dd {
  width: 210px;
  height: 465px;
  background-color: #c81623;
}

nav.nav .w .dropdown .dd ul li {
  position: relative;
  padding-left: 10px;
  height: 31px;
  line-height: 31px;
  margin-left: 2px;
  margin-top: 2px;
}

nav.nav .w .dropdown .dd ul li:hover {
  background-color: #fff;
}

nav.nav .w .dropdown .dd ul li::after {
  position: absolute;
  top: 1px;
  right: 10px;
  content: '\e920';
  font-family: 'icomoon';
  color: white;
  font-size: 14px;
}

nav.nav .w .dropdown .dd ul li:hover a {
  color: #c81623;
}

nav.nav .w .dropdown .dd ul li a {
  font-size: 14px;
  color: white;
}

nav.nav .w .navitems {
  float: left;
}

nav.nav .w .navitems ul li {
  float: left;
}

nav.nav .w .navitems ul li a {
  display: inline-block;
  height: 45px;
  line-height: 45px;
  font-size: 16px;
  padding: 0 25px;
}

footer.footer {
  padding-top: 30px;
  height: 415px;
  background-color: #f5f5f5;
}

footer.footer .w .mod_service {
  height: 80px;
  border-bottom: 1px solid #cccccc;
}

footer.footer .w .mod_service ul li {
  float: left;
  width: 300px;
  height: 50px;
  padding-left: 35px;
}

footer.footer .w .mod_service ul li h5 {
  float: left;
  width: 50px;
  height: 50px;
  background: url("../images/icons.png") no-repeat -252px -3px;
  margin-right: 8px;
}

footer.footer .w .mod_service ul li .service_txt h4 {
  font-size: 14px;
}

footer.footer .w .mod_service ul li .service_txt p {
  font-size: 12px;
}

footer.footer .w .mod_help {
  height: 185px;
  border-bottom: 1px solid #cccccc;
  padding-top: 20px;
  padding-left: 50px;
}

footer.footer .w .mod_help dl {
  float: left;
  width: 200px;
}

footer.footer .w .mod_help dl:last-child {
  text-align: center;
  width: 90px;
}

footer.footer .w .mod_help dt {
  font-size: 16px;
  margin-bottom: 10px;
}

footer.footer .w .mod_copyright {
  text-align: center;
  padding-top: 20px;
}

footer.footer .w .mod_copyright .links {
  padding-bottom: 20px;
}

footer.footer .w .mod_copyright .copyright {
  line-height: 20px;
}