* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration-line: none;
  color: black;
}

li {
  list-style: none;
}

.tb-promo {
  position: relative;
  width: 520px;
  height: 280px;
  margin: 100px auto;
}

.tb-promo img {
  width: 520px;
  height: 280px;
}

.tb-promo .prev, .tb-promo .next {
  position: absolute;
  top: 50%;
  margin-top: -13px;
  width: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

.tb-promo .prev {
  left: 0;
  border-radius: 0 15px 15px 0;
}

.tb-promo a {
  position: absolute;
  width: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
}

.tb-promo .next {
  right: 0;
  border-radius: 15px 0 0 15px;
}

.tb-promo .promo-nav {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -35px;
}

.tb-promo .promo-nav ul {
  width: 70px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 7px;
}

.tb-promo .promo-nav ul li {
  float: left;
  margin: 3px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 4px;
}

.tb-promo .promo-nav ul .selected {
  background-color: #ff5000;
}